<div class="container">
  <qr-code [value]="qrCodeStr" size="200" errorCorrectionLevel="M"></qr-code>
  <h2 style="color: #ffffff; margin-top: 5%; text-align: center">
    Type your text below <br>
    to convert it to QR Code
  </h2>
  <textarea matInput
            placeholder="Your text goes here"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"
            #input
            (keyup)="generate(input.value)"></textarea>
  <a mat-raised-button color="primary" class="download-btn" [href]="qrCodeDownloadLink"
     download="qr_code.png">Download</a>
</div>
